* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-content-container {
  font-family:  'Roboto', sans-serif;
  
  background: rgb(94,67,57);
  background: linear-gradient(364deg, rgba(94,67,57,1) 0%, rgba(255,71,3,1) 41%, rgba(255,127,80,1) 100%);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  height: 100vh;
}

.project-header {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  margin: 0 1%;
  margin-top: 1%;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.toppings-container {
  display: flex;
  flex: 4 1 auto;
  background-color: #FFB26B;
  margin: 0 1%;
  margin-bottom: 10%;
  border-radius: 8px 8px 0 0;
  border: 1px solid black;
}

.topping {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  font-family: 'Italiana', serif;
  font-weight: bold;
}

.topping-title,
.count-title {
  display: flex;
  width: 100%;
  flex: 0.05 1 auto;
  align-items: center;
  justify-content: center;
  font-size: 0.95rem;
  font-weight: bold;
  border: 1px solid black;
  font-style: italic;
}

.topping-title {
  border-radius: 8px 0 0 0;
}
.count-title {
  border-radius: 0 8px 0 0;
}


.individual-topping-names,
.individual-topping-numbers {
  width: 100%;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: center;
}
.individual-topping-names:last-child {
  border-radius: 0 0 0 8px;
  background-color: black;
}

.individual-topping,
.individual-topping-count {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  flex: 1 1 auto;
}

.most-popular-combo::before,
.most-popular-combo::after {
  content: '🔥HOT🔥';
  color: red;
  font-style: italic;
  font-size: 0.80rem;
}

.footer {
  display: flex;
  flex: 0.5 1 auto;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  color: white;
  margin-bottom: 1%;
}


@media (min-width: 768px) {
  .toppings-container {
    flex-direction: row;
    margin: 0 11%;
    margin-bottom: 10%;
  }
}

@media (min-width: 1024px) {
  .toppings-container {
    flex-direction: row;
    margin: 0 18%;
    margin-bottom: 10%;
  }
}